* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f5f7fa;
    --alt-background-color: #e0f2fe;
    --primary-color: #3b82f6;
    --secondary-color: #10b981;
    --text-color: #1f2937;
    --header-footer-color: #111827;
}

/* fonts */
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3,
a {
    font-weight: 500;
}

/* standard elements */

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

header,
footer {
    height: 6rem;
    background-color: var(--header-footer-color);
    color: var(--background-color);
}

header {
    display: grid;
    grid-template-columns: .8fr 1fr;
    align-items: center;
    justify-items: center;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav a {
    width: 11.25rem;
    margin: 0 .5rem;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

h1,
h2 {
    padding: 1rem;
    text-align: center;
}

section {
    width: 90%;
    padding: 1rem;
}

button,
.aButton {
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    border-color: #10b981;
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-size: medium;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.aButton {
    width: fit-content;
    margin: 2rem auto;
    display: block;
    position: relative;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    padding: 0;
    color: var(--background-color);
    background-color: var(--header-footer-color);
}

footer p {
    text-align: center;
}

/* table elements */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem auto 0;
    font-family: sans-serif;
}

th:first-child {
    width: 14rem;
}

th,
td {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.img-placeholder {
    text-align: center;
}

/* classes */

.catch {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 1rem 0;
}

.hero {
    background-color: var(--alt-background-color);
}

.hero,
#build-ideas {
    width: 100%;
    height: fit-content;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-items: center;
}

.hero img {
    margin: 1rem;
}

/* form */

.pc-form {
    width: 400px;
    margin: 0 auto 2rem;
    background-color: var(--alt-background-color);
    border: 1px solid rgb(0 0 0/0.1);
    border-radius: 4px;
}

.pc-form label {
    display: block;
    margin: 2rem 1rem 0;
}

.pc-form .radio,
.pc-form input[type="number"] {
    display: block;
    margin: .5rem 1.1rem;
    padding: .2rem;
}

.pc-form [type="number"] {
    width: 100px;
}

.pc-form [type=radio] {
    transform: scale(1.5);
    margin: 6px;
}

.pc-form select {
    transform: scale(1.2);
    margin-left: 1rem;
}

#firstLabel {
    margin-top: 1rem;
}

#submit {
    width: 92%;
}

/* id's */

#logo {
    filter: invert(100%) sepia(27%) saturate(1024%) hue-rotate(178deg) brightness(101%) contrast(96%);
}

#navMenuButton {
    display: none;
    color: var(--background-color);
}

#catch-para {
    content: "Picking the right parts can seem daunting, but it doesn't have to be!";
}

#build-ideas section,
#pc-example {
    width: 100%;
    text-align: center;
}

#pc-example p {
    text-align: left;
    margin-left: 30%;
}

#startBuild {
    width: 100%;
    text-align: center;
}

/* pseudo */
nav a:hover {
    background-color: #1060ee;
}

nav a:active {
    transform: scale(0.95);
    background-color: #2563eb;
}

button:hover,
.aButton:hover {
    filter: brightness(95%);
}

button:active,
.aButton:active {
    transform: scale(0.95);
    filter: brightness(80%);
}